body{
    font-family: "Titillium Web", Arial, sans-serif;
    background-color: #090C14;
    text-decoration: none;
}

/* navbar css starts here  */
.bg-light{
    background-color: #13161F !important;
    padding-bottom: 10px;
}

.nav-link{
    color: white !important;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: medium !important;
}

/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
    color: #ffffff;
}

.btn-info{
    padding: 0.5rem 2rem;
    font-size: 140%;
    background: #F7931A !important;
    color: black !important;
    transition: 0.3s;
    border-radius: 5px;
}

.btn-info:hover{
    text-decoration: none;
    color: black !important;
}

/*scrollbar starts here*/
::-webkit-scrollbar
  {
      width: 5px;
      background-color:black;
  }
  
::-webkit-scrollbar-thumb
  {
      border-radius: 800px;
      background-color: #F7931A;
  }
/*scrollbar ends here*/


/* footer css starts here */
.foot{
    margin-top: 20px;
    padding: 25px 0;
    background-color: #13161F;
}

.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.bottom{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    align-items: center;
}

.text{
    text-align: right;
    color: #fff;
}

.title{
    font-size: 100%;
    color: #FFFFFF;
    text-align: left;
    float: left;
}

.donate-btn {
    margin-top: -5px;
    width: 90px;
    height: 35px;
    margin-left: 10px;
    padding: 7px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    float: left;
    background: #F7931A;
    color:  black !important;
    text-decoration: none !important;
    
}
/* footer css ends here  */

/*Table starts here*/

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.table-info, .table-info td, .table-info th, .table-info tr{
    background-color: #f5f5f5 !important;
}

.table-light, .table-light td, .table-light th, .table-info tr{
    background-color: white !important;
}

table * {
    position: relative;
}
  table td, table th {
    padding-left: 8px;
}
  table thead tr {
    height: 60px;
    background: #F7931A;
}
  table tbody tr {
    height: 50px;
}
  table tbody tr:last-child {
    border: 0;
}
  table td, table th {
    text-align: left;
}
  table td.l, table th.l {
    text-align: right;
}
  table td.c, table th.c {
    text-align: center;
}
  table td.r, table th.r {
    text-align: center;
}
  
tbody tr {
    font-size: 18px;
    color: black;
    line-height: 1.2;
    font-weight:500; 
}
  
tbody tr:hover {
    cursor: pointer;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}
  
.column2 {
    width: 160px;
}
  
.column3 {
    width: 245px;
}
  
.column4 {
    width: 110px;
    text-align: right;
}

.table-danger th{
    background-color: #13161F !important;
    font-family: 'Noto Sans JP', sans-serif !important;
    font-size: 18px !important;
    color: white !important;
    font-weight: unset;
}
.table-danger th:hover{
    color: #F7931A !important;
}
.table-danger {
    background-color: #13161F  !important;
}

@media screen and (max-width: 992px) {
   table {
      display: block;
   }
   table > *, table tr, table td, table th {
      display: block;
   }
   table thead {
      display: none;
   }
   table tbody tr {
      height: auto;
      padding: 37px 0;
   }
   table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
   }
   table tbody tr td:last-child {
        margin-bottom: 0;
   }
   table tbody tr td:before {
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
   }
   table tbody tr td:nth-child(1):before {
      content: "Serial No";
   }
   table tbody tr td:nth-child(2):before {
      content: "Name";
   }
   table tbody tr td:nth-child(3):before {
      content: "Email";
   }
   table tbody tr td:nth-child(4):before {
      content: "Balance";
   }
  
   .column4{
      text-align: left;
   }
  
   .column4,
   .column1,
   .column2,
   .column3 {
      width: 100%;
   }
  
   tbody tr {
      font-size: 14px;
   }
}
  
@media (max-width: 576px) {
   .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
   }
}
/* Table ends here*/